@charset "UTF-8";

.myForm {
  float: left;
}

.today {
  font-size: xx-large;
  text-align: center;
}


.topic {
  border: solid Navy;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.DivButton {
  margin-top: 1em;
}



.DivButton div {
  text-align: center;
  float: left;
  width: 26%;
  border: solid black;
  margin-left: 1em;
}


.DivButton FORM {
  text-align: center;
  float: left;
  width: 26%;
  border: solid black;
  margin-left: 1em;
  font-size: xx-large;
}


.UserChoicePane {
  margin-top: 1em;
  width: 95%;
  height: 60%;
  border: solid black;
  overflow: scroll;
}


.UserName {
  border: solid blue;
  width: 7em;
  float: left;
}


.clear {
  clear: both;
}


.userlist {
  border-spacing: 1em;
  border: 4px solid blue ;
  width: 100%;
}

th {
  border: 2px solid black;
  width: 20%;
}

tr {
  height: 1em;
}


